

@font-face {
	font-family: "rounded-mplus-2c-bold";
	src: url("../fonts/rounded-mplus-2c-bold.ttf");
}

@font-face {
	font-family: "rounded-mplus-2c-regular";
	src: url("../fonts/rounded-mplus-2c-regular.ttf");
}

@font-face {
	font-family: "rounded-mplus-2c-light";
	src: url("../fonts/rounded-mplus-2c-light.ttf");
}

html, body {
	font-family: "rounded-mplus-2c-regular";
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.container {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

/*.row {
	height: 100%;
}
*/

.nav-small {
	display: none;
}

.nav {
	font-family: "rounded-mplus-2c-light";
	z-index: 20;
	background-color: rgba(0,38,68,1);
	width: 170px;
	height: 100%;
	float: left;
	box-shadow: 4pt 0 20px rgba(0,0,0,0.4);
	border-left: 15px solid rgba(0,150,255,1.0);
	/*margin-left: 20px;*/
	position: fixed;
	display: block;
	overflow: auto;
}

.head {
	z-index: 10;
	background-color: rgba(242,242,242,1);
	background-image: url("../images/bg.jpg");
	background-size: 100% 100%;
	height: 300px;
	width: 100%;
	margin: 0;
}

.head-title {
	background-color: rgba(256,256,256,0.9);
	width: 70%;
	height: 120px;
	margin-left: 20%;
	padding: 10px;
	/*padding-top: 10px;*/
}

.content {
	font-family: "rounded-mplus-2c-regular";
	width: 85%;
	height: 80%;
	float: right;
	margin-right: 10px;
}
.box {
	/*height: 100px;*/
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	margin: 10px;
	text-align: center;
	min-height: 340px;
	height: auto;
	padding: 10px;
	font-size: 1.2em;
}

.box h2 {
	font-size: 25px;
}




.event-info {
	color: rgba(101,45,142,1.0);
}

.tech-info {
	color: rgba(235,93,51,1.0);
}

.posters {
	color: rgba(0,150,255,1.0);
}

.nav li {
	list-style-type: none;
	min-height: 50px;
}

.nav li.selected {
	background-color: rgba(0,150,255,1.0);
}

.nav li:hover {
	background-color: rgba(0,150,255,1.0);
}


.nav-image {
	margin: 5px 10px;
	margin-right: 0;
	width: 40px;
	float: left;
}


h2.nav-text {
	font-family: "rounded-mplus-2c-light";
	font-size: 15px;
	color: #FFF;
	margin: 10px;
	margin-right: 5px;
	width: 90px;
	line-height: 30px;
	float: right;
}

.upperblock {
	width: 100%;
	margin:0;
}

.box-group {
	width: 60%;
	float: left;
}

.box1 {
	width: 60%;
	float: left;
}

.box2 {
	width: 30%;
	float: right;
}

.box-img {
	min-height: 50px;
}

.mobile-other {
	display: none;
}

.class-selector {
	border-top: 10px solid rgba(255,157,19,1.0);
	min-height: 20px;
	padding: 0;
	margin-top: 0;
}

.c2 {
	color: rgba(157,230,62,1.0) !important;
}
a.c2 {
	color: rgba(157,230,62,1.0) !important
}

.c3 {
	color: rgba(231,38,115,1.0) !important;
}
a.c3 {
	color: rgba(231,38,115,1.0) !important
}

.c4 {
	color: rgba(16,109,189,1.0) !important;
}
a.c4 {
	color: rgba(16,109,189,1.0) !important
}

.c5 {
	color: rgba(232,25,34,1.0) !important;
}
a.c5 {
	color: rgba(232,25,34,1.0) !important
}

.c6 {
	color: rgba(112,22,149,1.0) !important;
}
a.c6 {
	color: rgba(112,22,129,1.0) !important
}

.class-s-2 {
	border-top: 10px solid rgba(157,255,62,1.0);
}
.class-s-3 {
	border-top: 10px solid rgba(231,38,115,1.0);
}
.class-s-4 {
	border-top: 10px solid rgba(16,109,189,1.0);
}
.class-s-5 {
	border-top: 10px solid rgba(232,25,34,1.0);
}
.class-s-6 {
	border-top: 10px solid rgba(112,22,149,1.0);
}

.class-selector-j1 {
	display: none;
	margin: 0 !important;
}

.class-selector-j2 {
	display: none;
	margin: 0 !important;
}

.class-selector-j3 {
	display: none;
	margin: 0 !important;
}

.class-selector-s1 {
	display: none;
	margin: 0 !important;
}

.class-selector-s2 {
	display: none;
	margin: 0 !important;
}

.class-selector-s3 {
	display: none;
	margin: 0 !important;
}


.vertical-text {
	color: rgba(255,157,19,1.0);
	width: 10px;
	/*height: 20px;*/
	writing-mode:vertical-rl;
	-webkit-writing-mode:vertical-rl;
	margin: 5px;
	/*letter-spacing: -2px;*/
	/*writing-mode:tb-rl;*/
	/*word-wrap:break-word;*/
}

.classes {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 30px;
	padding: 0;
}

.class {
	font-family: "rounded-mplus-2c-light";
	/*margin: 0 5px;*/
	color: rgba(255,157,19,1.0);
}

a.class:hover {
	font-family: "rounded-mplus-2c-regular";
	color: rgba(255,157,19,1.0);
	font-style: bold;
	text-decoration: none;
}

.time {
	font-size: 5em;
	font-family: "rounded-mplus-2c-light";
}

.mesh {
	background-image: url("../images/08photos/mesh.png");
	background-size: cover;
	/*margin-top:20px;*/
}

.title {
	font-family: "rounded-mplus-2c-regular";
	font-size: 3.5em;
	color: rgba(0,38,68,1);
}


@media only screen and (min-width : 600px) and (max-width: 800px) {
	.content {
		width: 70%;
	}
}


@media only screen and (min-width : 800px) and (max-width: 1200px) {
	.content {
		width: 80%;
	}
}


/*smartphones*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.nav {
		display: none;
	}

	.content {
		width: 98%;
	}

	.box {
		font-size: 3em;
	}

	.box h2 {
		font-size: 1.2em;
	}

	.head {
		
	}

	.other {
		display: none;
	}

	.mobile-other {
		display: block;
	}
	
	.classes {
		font-size: 2.5em;
	}



	.class-selector-desktop {
		display: none;
	}

	.class-selector-mobile {
		display: none;
	}

	.container {
		margin-top: 15%;
	}

	.nav-small {
		display: block;
		width: 100%;
		min-height: 12%;
		background-color: rgba(0,38,68,1);
		position: fixed;
		top: 0;
		z-index:100;

		/*margin-bottom: 10%;*/
	}

	.nav-small-content {
		width: 100%;
		min-height: 35%;
		background-color: rgba(0,38,68,1);
		position: fixed;
		top: 10%;
		display: none;
		margin-top: 10px;
	}

	.mobile-nav-menu {
		float: right;
		width: 140px;
		margin-right: 20px;
		margin-top: 40px;
	}
 
	li {
		list-style-type: none;
	}

	.nav-image {
		width: 15%;
		height: 130px;
		margin:5%;
		float: left;
	}

	.title {
		/*width: 60%;*/
		font-size: 2.0em;

	}


}




@media only screen and (max-width: 600px) {
	.nav {
		display: none;
	}
	.content {
		width: 95%;
	}

	.nav-small {
		width: 100%;
		height: 50px;
		background-color: rgba(0,38,68,1);
		position: fixed;
		top: 0;
	}
}

/*desktop,laptops*/
@media only screen and (min-width : 1224px) {
	.nav {
		display: block;
	}

	.content {
		width: 85%;
	}


}


/*ipads*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.content {
		width: 80%;
	}
}

