


@font-face {
	font-family: "rounded-mplus-2c-regular";
	src: url("../fonts/rounded-mplus-2c-regular.ttf");
}

@font-face {
	font-family: "rounded-mplus-2c-light";
	src: url("../fonts/rounded-mplus-2c-light.ttf");
}

html, body {
	font-family: "rounded-mplus-2c-regular";
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.container {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

/*.row {
	height: 100%;
}
*/

.nav-small {
	display: none;
}

.nav {
	font-family: "rounded-mplus-2c-light";
	z-index: 20;
	background-color: rgba(0,38,68,1);
	width: 170px;
	height: 100%;
	float: left;
	box-shadow: 4pt 0 20px rgba(0,0,0,0.4);
	border-left: 15px solid rgba(0,150,255,1.0);
	/*margin-left: 20px;*/
	position: fixed;
	display: block;
	overflow: auto;
}

.head {
	z-index: 10;
	background-color: rgba(242,242,242,1);
	background-image: url("../images/bg.jpg");
	background-size: 100% 100%;
	height: 300px;
	width: 100%;
	margin: 0;
}

.head-title {
	background-color: rgba(256,256,256,0.9);
	width: 70%;
	height: 120px;
	margin-left: 20%;
	padding: 10px;
	/*padding-top: 10px;*/
}

.content {
	font-family: "rounded-mplus-2c-regular";
	width: 85%;
	height: 80%;
	float: right;
	margin-right: 10px;
}
.box {
	/*height: 100px;*/
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	margin: 10px;
	text-align: center;
	min-height: 340px;
	height: auto;
	padding: 10px;
	font-size: 1.2em;
}

.box h2 {
	font-size: 25px;
}




.event-info {
	color: rgba(101,45,142,1.0);
}

.tech-info {
	color: rgba(235,93,51,1.0);
}

.posters {
	color: rgba(0,150,255,1.0);
}

.nav li {
	list-style-type: none;
	min-height: 50px;
}

.nav li.selected {
	background-color: rgba(0,150,255,1.0);
}

.nav li:hover {
	background-color: rgba(0,150,255,1.0);
}


.nav-image {
	margin: 5px 10px;
	margin-right: 0;
	width: 40px;
	float: left;
}


h2.nav-text {
	font-family: "rounded-mplus-2c-light";
	font-size: 15px;
	color: #FFF;
	margin: 10px;
	margin-right: 5px;
	width: 90px;
	line-height: 30px;
	float: right;
}


@media only screen and (min-width : 600px) and (max-width: 800px) {
	.content {
		width: 70%;
	}
}


@media only screen and (min-width : 800px) and (max-width: 1200px) {
	.content {
		width: 80%;
	}
}


/*smartphones*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.nav {
		display: none;
	}

	.content {
		width: 96%;
	}

	.box {
		font-size: 3em;
	}

	.box h2 {
		font-size: 1.2em;
	}

	.head {
		
	}

	.container {
		margin-top: 15%;
	}

	.nav-small {
		display: block;
		width: 100%;
		min-height: 10%;
		background-color: rgba(0,38,68,1);
		position: fixed;
		top: 0;
		z-index:100;
		/*margin-bottom: 10%;*/
	}

	.nav-small-content {
		width: 100%;
		min-height: 30%;
		background-color: rgba(0,38,68,1);
		position: fixed;
		top: 10%;
		display: none;
	}
 
	li {
		list-style-type: none;
	}

	.nav-image {
		width: 15%;
		height: 100px;
		margin:5%;
		float: left;
	}

	.title {
		width: 60%;
	}
}




@media only screen and (max-width: 600px) {
	.nav {
		display: none;
	}
	.content {
		width: 95%;
	}

	.nav-small {
		width: 100%;
		height: 50px;
		background-color: rgba(0,38,68,1);
		position: fixed;
		top: 0;
	}
}

/*desktop,laptops*/
@media only screen and (min-width : 1224px) {
	.nav {
		display: block;
	}

	.content {
		width: 85%;
	}


}


/*ipads*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.content {
		width: 80%;
	}
}

